@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

section,
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  position: relative;
  color: #000;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto";
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.btn {
  display: inline-block;
  padding: 0 0;
  height: 47px;
  padding: 0 42px;
  line-height: 44px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.67px;
  position: relative;
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn_w {
  color: #fff;
  border: 1px solid #fff;
}

.btn_w::after {
  background-color: #fff;
}

.btn_b {
  color: #000;
  border: 1px solid #000;
}

.btn_b::after {
  background-color: #000;
}

.btn span {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: relative;
  z-index: 1;
}

.btn:hover.btn_w {
  color: #000;
}

.btn:hover.btn_b {
  color: #fff;
}

.btn:hover::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.btn.fw {
  width: 100%;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  position: relative;
  height: 50px;
  border-radius: 0 !important;
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 0 20px;
  background-color: #f8f7f7;
  border-top: 1px solid #000;
}

.input:focus {
  border-top: 1px solid blue;
}

.input[type=email]:invalid:focus {
  border-top: 1px solid red;
}

textarea.input {
  resize: none;
  height: 117px;
  padding: 10px 20px;
}

.header {
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  display: inline-block;
  width: 135.04px;
  height: 30.32px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.header__search {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 60px 0 60px;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  /*	&::after {
  	content: "";
  	position: absolute;
  	top: calc(50% - 80px / 2);
  	right: 0;
  	width: 1px;
  	height: 80px;
  	background-color: #ebebf1;
  }*/
}

.header__profile {
  position: relative;
  padding: 0 2px 0 19px;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.header__profile::before {
  content: "";
  position: absolute;
  top: calc(50% - 40px);
  left: 0;
  width: 1px;
  height: 80px;
  background-color: #ebebf1;
}

.search-form {
  max-width: 763px;
  width: 100%;
  border: 1px solid #ebebf1;
  border-radius: 5px;
  position: relative;
}

.search-form__input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding: 11px 10px 11px 39px;
  background-color: #fff;
}

.search-form__button {
  width: 16px;
  height: 16px;
  background: url("/img/find.png") center/cover no-repeat;
  position: absolute;
  top: 11px;
  left: 13px;
}

.profile {
  display: inline-block;
}

.profile__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.profile__name {
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #768298;
}

.profile__img {
  margin: 0 0 0 10px;
}

.profile__link {
  display: none;
}

.main {
  padding: 70px 0 0 0;
}

.partners__title {
  margin: 0 0 30px 0;
}

.partners__items {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.partners__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  padding: 0 15px;
  margin: 0 0 30px 0;
}

.partners__item:last-child {
  margin: 0;
}

.title {
  color: #000;
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  text-transform: uppercase;
}

.item {
  cursor: pointer;
}

.item__column {
  height: 120px;
  border: 1px solid #ebebf1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item__column:hover {
  -webkit-box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
}

.item__column picture {
  max-width: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  padding: 0;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 1169.98px) {
  .header__search {
    margin: 0 50px;
  }

  .partners .container {
    padding: 0 20px;
  }

  .partners__items {
    margin: 0 -10px;
  }

  .partners__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    padding: 0 10px;
  }

  .container {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

@media (max-width: 767.98px) {
  .partners__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .title {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 16px 0 0 0;
  }

  .header__row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header__logo {
    margin: 0 0 17px 21px;
  }

  .header__search {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }

  .header__profile::before {
    display: none;
  }

  .header__profile {
    margin: 0 21px 17px 0;
  }

  .search-form__input {
    padding: 11px 10px 11px 49px;
  }

  .search-form__button {
    left: 23px;
  }

  .search-form {
    border: none;
    border-top: 1px solid #ebebf1;
    max-width: 100%;
  }

  .profile__block {
    display: none;
  }

  .profile__link {
    display: inline-block;
    cursor: pointer;
  }

  .partners__items {
    display: block;
    text-align: center;
    margin: 0;
  }

  .partners__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 0 0 20px 0;
    padding: 0;
  }

  .item {
    display: inline-block;
    width: 100%;
  }

  .item__column {
    height: 140px;
  }

  .container {
    padding: 0;
  }
}